<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="dispersionequation">
         <property
               name="appName"
               value="dispersionequation">
         </property>
         <property
               name="aboutText"
               value="Solving Dispersion Equation in water wave mechanics.&#x0A;&#x0A;By: Hamed Mohammadi&#x0A;email: hamedapps@gmail.com">
         </property>
      </product>
   </extension>

</plugin>
